<% if (title) { %>
  <h1><%= title %></h1>
  <%- messages() %>
  <% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>
  <% } else {
    res.redirect('/')
  } %>

  <div class="container">
    <button type="button"><a href="./add-classification">Add New Classification</a></button>
    <button type="button"><a href="./add-inventory">Add New Vehicle</a></button>
  </div>

  <h2>Manage Inventory</h2>
  <p>Select a classification from the list</p>
  <%- categories %>
  <table id="inventoryDisplay" class="inventory-table"></table>
  <noscript>JavaScript must be enabled to use this page.</noscript>

  <script src="../../js/inventory.js"></script>